SM_ENV=development
SM_PORT=
SM_SERVER_VERSION=1

SM_MYSQL_DB=
SM_MYSQL_DB_USER=
SM_MYSQL_DB_PASSWORD=
SM_MYSQL_DB_HOST=localhost
SM_MYSQL_DB_PORT=3306
SM_DB_SYNC="true"

SM_BYCRYPT_SALT=10

SM_JWT_SECRET=
SM_JWT_REFRESH_SECRET=

SM_JWT_ACCESS_LIFETIME='60' # 1분
SM_JWT_REFRESH_LIFETIME='60,60,24,7' # 7일
SM_JWT_REFRESH_TOKEN_RENEWAL_PERIOD='60,60,24,2' # 2일 

SM_REDIS_HOST=localhost
SM_REDIS_PORT=6379
SM_SIGNIN_FAILED_ATTEMPTS_CLEAR_TTL=120000 # 2분
